body {
    padding-top: 1%;
}

#loginForm {
    display: none;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border-radius: 50%!important;
}


.piechart {
    width: 40px;
    height: 100px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}

.piechart {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.arco {
    position: relative; 
    display: block; 
    font: 900 .8em/6.5em serif; 
    width: 8em; 
    height: 4em; 
    text-align: center; 
    margin: 5px 0; 
    overflow: hidden; 
}